input {
    width: 150px;
    height: 150px;
    font-size: 75px;
    border-radius: 10px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    border-style:none;
}

#myform {
    text-align: center;
    margin-right: 150px;
    margin-top: 20px;
}

h1 {
    font-family: Arial;
    text-align: center;
    font-size: 80px;
    margin-right: 150px;
    margin-top: 20px;
}
